@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Uncial+Antiqua&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webGL {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  position: relative;
  z-index: 2;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
  text-align: center;
}

@media (min-width: 1000px) {
  nav {
    padding: 2rem 20rem;
  }
}
